.nav {
    width: 100%;
    height: 80px;
    background-color: #030d1b;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav .container {
    width: 80%;
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: space-between;
}

.nav h2 {
    color: #fff;
    text-transform: uppercase;
    font-size: 35px;
}

.nav h2 span {
    color: #a8dadc;
}

.nav .nav_links ul {
    display: flex;
}

.nav .nav_links ul li{
    display: flex;
    justify-content: center;
    width: 115px;
    padding: 10px;
    margin: 10px;
    background-color: transparent;
    border-radius: 10px;
    transition: all .5s ease;
}

.nav .nav_links ul li a{
    text-transform: uppercase;
    color: #fff;
    transition: all .3s ease;
}

.nav .nav_links ul li:hover{
    background-color: #a8dadc;
}

.nav .nav_links ul li:hover a {
    color: #000;
}